[submodule "foundry/lib/vault-v2"]
	path = foundry/lib/vault-v2
	url = https://github.com/yieldprotocol/vault-v2
[submodule "foundry/lib/environments-v2"]
	path = foundry/lib/environments-v2
	url = https://github.com/yieldprotocol/environments-v2
[submodule "foundry/lib/vault-interfaces"]
	path = foundry/lib/vault-interfaces
	url = https://github.com/yieldprotocol/vault-interfaces
[submodule "foundry/lib/yield-utils-v2"]
	path = foundry/lib/yield-utils-v2
	url = https://github.com/yieldprotocol/yield-utils-v2
[submodule "foundry/lib/forge-std"]
	path = foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/lib/yieldspace-interfaces"]
	path = foundry/lib/yieldspace-interfaces
	url = https://github.com/yieldprotocol/yieldspace-interfaces
[submodule "foundry/lib/dss-interfaces"]
	path = foundry/lib/dss-interfaces
	url = https://github.com/makerdao/dss-interfaces
