# Temp & IDE files
.vscode/
*~
*.swp
*.swo

# Packaging
*.tar.gz
*.tgz
package/

# Buidler files
cache
artifacts
node_modules/
abi/
abis/
typechain/
deployments/

# Secret files
.arbiscanKey
.alchemyKey
.etherscanKey
.infuraKey
.mythxKey
.secret
build/

# Accounts
.multisig
.executor
.planner

# Solidity-coverage
coverage/
.coverage_contracts/
coverage.json

# Yarn
yarn-error.log
.yarn/install-state.gz

# NPM
package-lock.json

# Crytic
crytic-export/

# Typescript
dist/

addresses/localhost/
addresses/tenderly/

.idea/
.arbiscanKey
.DS_Store
